@font-face {
    font-family: "Outfit";
    src: url("../fonts/outfit/Outfit-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Outfit Thin";
    src: url("../fonts/outfit/static/Outfit-Thin.ttf");
}

@font-face {
    font-family: "Outfit Normal";
    src: url("../fonts/outfit/static/Outfit-Regular.ttf");
}

@font-face {
    font-family: "Outfit Medium";
    src: url("../fonts/outfit/static/Outfit-Medium.ttf");
}

@font-face {
    font-family: "Young Serif";
    src: url("../fonts/young-serif/YoungSerif-Regular.ttf");
}